@model  IEnumerable<garcON.Models.TB_PESSOA>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
@using (Html.BeginForm())
{
<body>
    <div> 
        <h1>Cadastro</h1>


    </div>
</body>
}
</html>
